<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Nuevo Evento en Vivo</h3>
        </div>
        <div class="card-toolbar">
            <a [routerLink]="['/live-events/list']" class="btn btn-light-primary font-weight-bolder">
                <i class="ki ki-long-arrow-back icon-sm"></i> Volver
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group row my-2">
            <div class="col-9">
                <label>Título del Evento: <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-solid" placeholder="Ej: Lanzamiento de Producto"
                    [(ngModel)]="title">
            </div>
        </div>
        <div class="form-group row my-2">
            <div class="col-9">
                <label>Descripción:</label>
                <textarea class="form-control form-control-solid" rows="4" [(ngModel)]="description"></textarea>
            </div>
        </div>
        <div class="form-group row my-2">
            <div class="col-9">
                <label>Embed URL (Link de iFrame): <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-solid"
                    placeholder="https://www.youtube.com/embed/..." [(ngModel)]="embed_url">
                <span class="form-text text-muted">Ingresa la URL del iFrame de YouTube o Twitch.</span>
            </div>
        </div>
        <div class="form-group row my-2">
            <div class="col-5">
                <label>Fecha y Hora Programada: <span class="text-danger">*</span></label>
                <input type="datetime-local" class="form-control form-control-solid" [(ngModel)]="scheduled_at">
            </div>
        </div>

        <div class="separator separator-dashed my-10"></div>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-primary" (click)="save()">Guardar Evento</button>
            </div>
        </div>
    </div>
</div>