.cursor-pointer {
    cursor: pointer;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.table th {
    white-space: nowrap;
}

.table td {
    vertical-align: middle;
}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid var(--primary);
}