<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Exclude admin and api directories explicitly
  RewriteRule ^admin/ - [L,NC]
  RewriteRule ^api/ - [L,NC]
  RewriteRule ^api_ecommerce/ - [L,NC]

  # If an existing asset or directory is requested go to it as it is
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
  RewriteRule ^ - [L]

  # If the requested resource doesn't exist, use index.html
  RewriteRule ^ /index.html [L]
</IfModule>
