<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label"><i class="icon-2x text-dark-50 flaticon-bag mx-2"></i> REGISTRAR NUEVO PRODUCTO</h3>
        </div>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <ng-container *ngIf="isLoading$ | async">
            <span class="spinner spinner-primary ml-5"></span>
        </ng-container>

        <div class="form-group row">
            <div class="col-5">
                <label class="form-label">Nombre del producto: *</label>
                <input type="text" class="form-control form-control-solid form-control-lg" name="title"
                    placeholder="Nombre" autocomplete="off" [(ngModel)]="title">
            </div>
            <div class="col-3">
                <label class="form-label">SKU: *</label>
                <input type="text" class="form-control form-control-solid form-control-lg" name="sku"
                    placeholder="Cód-único inventario (Ej: PROD-001)" autocomplete="off" [(ngModel)]="sku">
            </div>
            <div class="col-3">
                <label class="form-label">CATEGORIA : *</label>
                <select name="categorie_id" class="form-control form-control-solid form-control-lg"
                    [(ngModel)]="categorie_id">
                    <option value="">Ninguno</option>

                    <ng-container *ngFor="let categorie of categories">
                        <option [value]="categorie.id">{{ categorie.name }}</option>
                    </ng-container>


                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label class="form-label">PRECIO EN PEN: *</label>
                <input type="text" class="form-control form-control-solid form-control-lg" name="price_pen"
                    placeholder="100" autocomplete="off" [(ngModel)]="price_soles">
            </div>

            <div class="col-3">
                <label class="form-label">PRECIO EN USD: *</label>
                <input type="text" class="form-control form-control-solid form-control-lg" name="price_usd"
                    placeholder="200" autocomplete="off" [(ngModel)]="price_usd">
            </div>

            <div class="col-2">
                <label class="form-label">ESTADO : *</label>
                <select name="state" class="form-control form-control-solid form-control-lg" [(ngModel)]="state">
                    <option value="1">DEMO</option>
                    <option value="2">PUBLICO</option>
                    <option value="3">BLOQUEADO</option>
                </select>
            </div>

            <div class="col-2">
                <label class="form-label">STOCK: *</label>
                <input type="number" class="form-control form-control-solid form-control-lg" name="stock"
                    placeholder="10" autocomplete="off" [(ngModel)]="stock">
            </div>

            <div class="col-2">
                <div class="row">
                    <div class="col-12">
                        <label class="form-label">IMAGEN DE PORTADA: *</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile"
                                accept=".jpeg, .bmp, .jpg, .png, .gif, .webp" (change)="processFile($event)">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                    <div class="col-12 py-2" *ngIf="imagen_previzualiza">
                        <img [src]="imagen_previzualiza" class="w-100" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-5">
                <label class="form-label">RESUMEN DEL PRODUCTO: *</label>
                <textarea class="form-control" name="descriptions" [(ngModel)]="resumen" placeholder=""
                    rows="4"></textarea>
            </div>
            <div class="col-6">
                <label class="form-label">DESCRIPCIÓN DEL PRODUCTO: *</label>
                <editor apiKey="h9ijuonrjjrnirv9ly2fb3v6lvfb7zeuyqd34bc02b37xbxw" [(ngModel)]="description" [init]="{
                    height: 250,
                    language: 'es',
                    plugins: [
                        'advlist autolink lists link image charmap print preview anchor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table paste code help wordcount'
                    ],
                    toolbar:
                        'undo redo | formatselect | bold italic backcolor | \
                        alignleft aligncenter alignright alignjustify | \
                        bullist numlist outdent indent | removeformat | help'
                    }"></editor>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6">
                <label class="form-label">ETIQUETAS: *</label>
                <div class="d-flex">
                    <input type="text" class="form-control form-control-solid form-control-lg w-50" name="TAGS"
                        placeholder="Nombre" autocomplete="off" [(ngModel)]="text">
                    <button class="ml-5 btn btn-sm btn-primary" (click)="addTags()">+</button>
                </div>
                <div class="table-responsive w-50">
                    <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                        <thead>
                            <tr class="text-left">
                                <th>PALABRA</th>
                                <th>ACCIÓN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tag of tags;let i=index">
                                <td>{{ tag }}</td>
                                <td>
                                    <button class="ml-5 btn btn-sm btn-danger" (click)="removeTags(i)">-</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <label class="form-label">IMAGENES: *</label>
                <div class="d-flex">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile"
                            accept=".jpeg, .bmp, .jpg, .png, .gif, .webp" (change)="addFile($event)">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <button class="ml-5 btn btn-sm btn-primary" (click)="addImages()">+</button>
                </div>
                <span *ngIf="img_files"> <b>IMAGEN: {{ img_files.name }}</b> </span>
                <div class="table-responsive w-100">
                    <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                        <thead>
                            <tr class="text-left">
                                <th>IMAGEN</th>
                                <th>NOMBRE</th>
                                <th>ACCIÓN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let imagen_ of images_files;let i=index">
                                <td>
                                    <img [src]="imagen_.show" class="w-50" alt="">
                                </td>
                                <td>{{ imagen_.file.name }}</td>
                                <td>
                                    <button class="ml-5 btn btn-sm btn-danger" (click)="removeImages(i)">-</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="separator separator-dashed my-10"></div>
        <h5 class="mb-5">Información de Entrega</h5>

        <div class="form-group row">
            <div class="col-6">
                <label class="form-label">Forma de entrega: *</label>
                <select name="delivery_method" class="form-control form-control-solid form-control-lg"
                    [(ngModel)]="delivery_method">
                    <option value="consult">A consultar con el vendedor</option>
                    <option value="free" [disabled]="!isFreeShippingAuthorized">Envío gratis (Sujeto a autorización)
                    </option>
                    <option value="pickup">Recojo en tienda</option>
                </select>
                <div class="mt-2" *ngIf="!isFreeShippingAuthorized && delivery_method === 'free'">
                    <span class="text-danger small">Tu empresa no tiene autorizado el envío gratis. Por favor,
                        solicítalo al administrador.</span>
                </div>
            </div>
            <div class="col-6" *ngIf="delivery_method !== 'consult'">
                <label class="form-label">Detalles de envío / Dirección de recojo: *</label>
                <textarea class="form-control form-control-solid" name="shipping_details" [(ngModel)]="shipping_details"
                    rows="2" placeholder="Ej: Envío a todo el país vía Olva Courier"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6">
                <button class="btn btn-md btn-primary" (click)="createProduct()">CARGAR PRODUCTO</button>
            </div>
        </div>
    </div>
</div>