<!--begin::Container-->
<div [ngClass]="footerContainerCSSClasses"
  class="d-flex flex-column flex-md-row align-items-center justify-content-between">
  <!--begin::Copyright-->
  <div class="text-dark order-2 order-md-1">
    <span class="text-muted font-weight-bold mr-2">TODOS LOS DERECHOS RESERVADOS {{ currentYear }} &copy;</span>
    <a href="https://yordy-jimenez.my.canva.site/" target="_blank" class="text-dark-75 text-hover-primary">YORDY
      JIMÉNEZ</a>
  </div>
  <!--end::Copyright-->
</div>
<!--end::Container-->